<div class="head-page" *ngIf='identity'>
	<div class="head-title">
		<h1>{{titulo}}</h1>
	</div>
	<a [routerLink]="['/crear-artista']" [routerLinkActive]="['actived']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-light">
		Añadir Artista
	</a>

	<div class="clearfix"></div>
	<ul class="artist-list row" *ngIf="identity">
		<li *ngFor="let artist of artists" class="artist-item">
			<div class="artist-image">
				<img src="{{url+'get-image-artist/'+artist.image}}"/>
			</div>
			<div class="artist-name">
				<a [routerLink]="['/artista',artist._id]">
					{{artist.name}}
				</a>
				<div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
					<a [routerLink]="['/editar-artista',artist._id]" class="btn btn-sm btn-warning">Editar</a>
					<a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
				</div>
				<div class="seguro" *ngIf="confirmado == artist._id">
					<a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
					<a (click)="onCancelArtist()" class="btn btn-sm btn-dark">Cancelar</a>
				</div>
			</div>
		</li>
	</ul>
</div>