<div *ngIf="identity">
<div class="jumbotron" *ngIf="0" >
  <h1 class="display-4">Bienvenido a Musify!</h1>
  <p class="lead">Este es un ejemplo de aplicacion Angular que busca imitar las funcionalidades de Spotify pero en marca blanca.</p>
  <hr class="my-4">
  <p>Podras disfrutar de la musica libre que ofrecemos.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button"[routerLink]="['/artistas',1]" [routerLinkActive]="['actived']">Ver artistas</a>
	<a class="btn btn-primary btn-lg" href="#" role="button"[routerLink]="['/albums',1]" [routerLinkActive]="['actived']">Ver albums</a>
  </p>
</div>
<hr>
<artist-lista></artist-lista>
<hr>
<album-lista></album-lista>
</div>